<a href="https://colab.research.google.com/github/Elwing-Chou/kmuml/blob/main/kmuml0106%E6%97%A9%E4%B8%8A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from urllib.request import urlretrieve
url = "https://github.com/Elwing-Chou/kmuml/raw/main/data01.csv"
urlretrieve(url, "data.csv")

('data.csv', <http.client.HTTPMessage at 0x797a79f01450>)

hypertensive: Blood pressure higher than 180/120 mm Hg is considered a hypertensive emergency or crisis

atrialfibrillation: 心房顫動

CHD with no MI: 冠狀動脈心臟病 with no 心肌梗塞

deficiencyanemias: 缺鐵性貧血(Iron deficiency anemia)是一種常見的貧血

depression: 憂鬱

Hyperlipidemia 認識高脂血症

renal failure: 腎臟 failure

COPD: 慢性阻塞性肺病

Systolic blood pressure: 收縮壓

Diastolic blood pressure: 蘇張壓

Respiratory rate: 呼吸率

SPO2: 血氧飽和度監測

Urine output: 尿尿

hematocrit: 紅血球容積比

RBC: 紅血球計數

MCH: 平均紅血球血紅素

MCHC: 平均紅血球血紅素濃度

MCV: 平均血球容積(MCV)

RDW: 紅血球分布寬度

Leucocyte: White blood cell

Platelets: 血小板計數

Neutrophils: 嗜中性球亦稱嗜中性白血球

Basophils: 嗜鹼性球

Lymphocyte: 淋巴球

PT: 凝血脢原時間

INR: INR =(Patient’s PT/MNPT)ISI, 跟PT有關

NT-proBNP: 定量血漿中的NT-ProBNP，可幫助診斷充血性心衰竭

Creatine kinase: 肌酸激酶

Creatinine: 肌酸酐

Urea nitrogen: 血中尿素氮

glucose: 葡萄糖

Blood potassium: 鉀

Blood sodium: 鈉

Blood calcium: 鈣

Chloride: 氯化物

Anion gap: 陰離子間隙

Magnesium ion: Mg 2+

PH: 酸鹼

Bicarbonate: HCO−3.

Lactic acid: 乳酸

PCO2: CO2分壓

EF: 收縮分率

Target Variable - Outcome 0 - Alive 1 - Death

In [4]:
import pandas as pd
data = pd.read_csv("data.csv", encoding="utf-8")
data

,group,ID,outcome,age,gendera,BMI,hypertensive,atrialfibrillation,CHD with no MI,diabetes,...,Blood sodium,Blood calcium,Chloride,Anion gap,Magnesium ion,PH,Bicarbonate,Lactic acid,PCO2,EF
0,1,125047,0.0,72,1,37.588179,0,0,0,1,...,138.750000,7.463636,109.166667,13.166667,2.618182,7.230,21.166667,0.5,40.0,55
1,1,139812,0.0,75,2,NaN,0,0,0,0,...,138.888889,8.162500,98.444444,11.444444,1.887500,7.225,33.444444,0.5,78.0,55
2,1,109787,0.0,83,2,26.572634,0,0,0,0,...,140.714286,8.266667,105.857143,10.000000,2.157143,7.268,30.571429,0.5,71.5,35
3,1,130587,0.0,43,2,83.264629,0,0,0,0,...,138.500000,9.476923,92.071429,12.357143,1.942857,7.370,38.571429,0.6,75.0,55
4,1,138290,0.0,75,2,31.824842,1,0,0,0,...,136.666667,8.733333,104.500000,15.166667,1.650000,7.250,22.000000,0.6,50.0,55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1172,2,171130,0.0,62,1,25.516870,1,1,0,1,...,136.714286,10.271429,94.428571,20.142857,2.714286,NaN,27.714286,NaN,NaN,40
1173,2,101659,0.0,78,1,25.822710,0,1,0,1,...,135.680000,10.523529,101.720000,18.160000,2.012500,NaN,20.480000,NaN,NaN,30
1174,2,162069,0.0,85,2,23.891779,1,1,0,1,...,136.000000,8.466667,97.285714,14.000000,2.028571,NaN,28.857143,NaN,NaN,55
1175,2,120967,0.0,79,2,35.288554,0,0,1,1,...,140.000000,8.183333,104.000000,15.750000,2.090000,NaN,24.375000,NaN,NaN,25
1176,2,107636,0.0,47,1,23.121384,1,0,0,1,...,135.285714,9.085714,93.857143,20.285714,2.566667,NaN,26.571429,NaN,NaN,55

In [3]:
data["outcome"].value_counts()

0.0    1017
1.0     159
Name: outcome, dtype: int64

In [8]:
# 把答案空的那筆篩掉
# isna() notna()
# 篩選 df[跟我資料筆數一樣的True/False]
fil = data["outcome"].notna()
data = data[fil]

In [ ]:
# axis控制到底丟行還是丟列
x = data.drop(["group", "ID", "outcome"], axis=1)
y = data["outcome"].astype(int)
y

資料預處理

1. 補缺失值
2. One-Hot: 類別就要做, 但兩種情況不用做
a. 二值型 b.大小型類別(艙等!!!但注意別補成中位數)

In [ ]:
# 缺太多的要不要把它丟掉?
# 影響的是天花板準確率, 但如果補的不准會影響正常的時候的準確率
# 一般的時候其實你不需要追求準確率的最高值
s = x.isna().sum()
fil = s > 0
s[fil].sort_values(ascending=False)

In [23]:
# 填補 -> 最可能的
# 1.數字型欄位: 平均(x) 中位數(o)
# 2.類別型欄位:　a. 最常出現 b. 不填(one-hot裡填00000)
# 這個資料比較麻煩是因為他都是數字, 你很難分出哪些是數字/類別
# 所以我用這欄位有幾種獨特值來分
nu = x.nunique()
categories = nu[nu < 5].index
numbers = nu[nu >= 5].index
# 特別過濾了數值欄位
med = x.median()[numbers]
x = x.fillna(med)

In [29]:
# 你可以不用做one-hot, 因為所有類別欄位在這個例子都是二值(!)
# 並且已經沒缺了(!!!!多值型你還是要做)
# pd.get_dummies(x, columns=categories)